.background {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
}

.passwordContainer .formStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.passwordInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

.passwordInput:focus {
    border-color: gray;
}

.submitButton {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.submitButton:hover {
    background-color: white;
    color: black;
}