
.nav {
    display: grid;
    grid-template-areas: "left-icon heading icons";
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 12px 10%; /*fix when hav img*/
  }

  .nav div {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .nav a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
  }
  
  .nav a:hover {
    color: #000;
  }
  

  .nav {
    display: grid;
    grid-template-areas: "left-icon heading icons";
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 12px 10%; /*fix when hav img*/
}

.smallMenu {
    display: none;
}

.extensionLinks a {
    padding: 12px;
}

@media (max-width: 990px) {
    .extensionLinks {
        display: none!important;
    }

    .smallMenu {
        display: flex!important;
    }
}
