@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  background-image: url('/SURD-Background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#text-style {
  text-underline-offset: .3rem;
  color: black;
  background-color: transparent;
  font-size: 1.4rem;
  font-family: inherit;
}

footer {
  border-top: .1rem solid lightgrey;
  background-color: #fff;
}

.footer-top {
  padding-top: 4rem;
}

.footer-top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-top-container div {
  width: fit-content;
}

.extensionLinks {
  margin: 7px;
  padding: 5px;
}

.extensionLinks:hover {
  text-decoration: underline 1px;
  ;
}

.socials {
  display: flex;
}

.socials a {
  margin: 0.5rem;
  padding: 1px;
}

.buyNow {
  position: fixed;
  left: 20px;
  bottom: 20px;
  padding: 15px 30px;
  background: linear-gradient(135deg, #ff5e62, #ff9966);
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buyNow:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.buyNow a {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.buyNow a:hover {
  color: #fff5f5;
}

.footer-bottom {
  padding: 1.7rem 20px;
  width: 70%;
  /* mudar depois */
  margin: 0 auto;
}

.footer-bottom-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-bottom-container div {
  padding-top: 1rem;
}

.footer-img-container {
  display: flex;
  flex-direction: row;
}

.footer-img-container img {
  margin-left: 25px;
  height: 50px;
  max-height: 100%;
  width: auto;
}

.footer-img-container-mobile {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
}

.footer-img-container-mobile img {
  height: 50px;
  max-height: 100%;
  width: auto;
}

.footer-img-container-mobile div {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.footer-banner-credits {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}

@media (min-width: 990px) {
  .banner-img-desktop {
    display: none;
  }
}


@media (max-width: 990px) {
  .footer-bottom {
    padding: 1.7rem 0;
    width: 90%;
  }

  .footer-img-container {
    display: none;
  }

  .footer-img-container-mobile {
    display: flex !important;
  }

  .smallMenu {
    display: flex !important;
  }
}

/* Scroll bar styles and stuff */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}